.page-width {
  max-width: 1200px;
  margin: 0 auto;
}

.main {
  width: 50%;
}

.pop-up__wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pop-up {
  width: 40vw;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-box-shadow: 0px 0px 34px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 34px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.open-when-checked__label {
  font-weight: bold;
  position: relative;
}
.open-when-checked__label svg {
  margin-right: 5px;
}
.open-when-checked__label .open-when-checked__checkbox {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  z-index: -1 !important;
  opacity: 0;
}
.open-when-checked__label .open-when-checked__checkbox + .open-when-checked__target {
  width: 500%;
  display: none;
  position: absolute;
  top: 150%;
  left: -200%;
  padding: 20px 10px;
}
.open-when-checked__label .open-when-checked__checkbox:checked + .open-when-checked__target {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}

.none {
  display: none !important;
}

.noscrool {
  overflow: hidden !important;
}

.header {
  width: 100%;
  padding: 0 1%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(214, 24, 24, 0.8);
}
.header .page-width {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-column {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-column__inner-item:not(:first-child) {
  margin-left: 10px;
}

.header__search-input_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btn {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
}
.header__btn:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.header__btn svg {
  width: 60%;
  height: 60%;
}

.header__search-input_wrapper {
  position: relative;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
}
.header__search-input_wrapper:hover .search-input_icon-wrapper_search svg, .header__search-input_wrapper:active .search-input_icon-wrapper_search svg, .header__search-input_wrapper:focus .search-input_icon-wrapper_search svg, .header__search-input_wrapper:target .search-input_icon-wrapper_search svg {
  color: rgba(214, 24, 24, 0.8);
}
.header__search-input_wrapper:hover .header__search-input, .header__search-input_wrapper:active .header__search-input, .header__search-input_wrapper:focus .header__search-input, .header__search-input_wrapper:target .header__search-input {
  background-color: white;
}
.header__search-input_wrapper:hover .header__search-input::-webkit-input-placeholder, .header__search-input_wrapper:active .header__search-input::-webkit-input-placeholder, .header__search-input_wrapper:focus .header__search-input::-webkit-input-placeholder, .header__search-input_wrapper:target .header__search-input::-webkit-input-placeholder {
  color: black;
}
.header__search-input_wrapper:hover .header__search-input::-moz-placeholder, .header__search-input_wrapper:active .header__search-input::-moz-placeholder, .header__search-input_wrapper:focus .header__search-input::-moz-placeholder, .header__search-input_wrapper:target .header__search-input::-moz-placeholder {
  color: black;
}
.header__search-input_wrapper:hover .header__search-input:-ms-input-placeholder, .header__search-input_wrapper:active .header__search-input:-ms-input-placeholder, .header__search-input_wrapper:focus .header__search-input:-ms-input-placeholder, .header__search-input_wrapper:target .header__search-input:-ms-input-placeholder {
  color: black;
}
.header__search-input_wrapper:hover .header__search-input::-ms-input-placeholder, .header__search-input_wrapper:active .header__search-input::-ms-input-placeholder, .header__search-input_wrapper:focus .header__search-input::-ms-input-placeholder, .header__search-input_wrapper:target .header__search-input::-ms-input-placeholder {
  color: black;
}
.header__search-input_wrapper:hover .header__search-input::placeholder, .header__search-input_wrapper:active .header__search-input::placeholder, .header__search-input_wrapper:focus .header__search-input::placeholder, .header__search-input_wrapper:target .header__search-input::placeholder {
  color: black;
}

.search-btn {
  width: calc(40px - 10px);
  height: calc(40px - 10px);
}

.search-input_icon-wrapper_search {
  position: absolute;
  left: 0px;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
}

.search-input_icon-wrapper_close {
  position: absolute;
  right: 0;
  opacity: 0;
  z-index: -1;
}

.header__search-input {
  width: 20vw;
  min-width: 150px;
  height: calc(40px - 10px);
  background-color: #ffffff75;
  padding-left: 30px;
  color: white;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
}
.header__search-input::-webkit-input-placeholder {
  color: white;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
}
.header__search-input::-moz-placeholder {
  color: white;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
}
.header__search-input:-ms-input-placeholder {
  color: white;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
}
.header__search-input::-ms-input-placeholder {
  color: white;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
}
.header__search-input::placeholder {
  color: white;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
}
.header__search-input:active + .search-input_icon-wrapper_search svg, .header__search-input:focus + .search-input_icon-wrapper_search svg, .header__search-input:target + .search-input_icon-wrapper_search svg {
  color: rgba(214, 24, 24, 0.8);
}
.header__search-input:active + .search-input_icon-wrapper_search + .search-input_icon-wrapper_close, .header__search-input:focus + .search-input_icon-wrapper_search + .search-input_icon-wrapper_close, .header__search-input:target + .search-input_icon-wrapper_search + .search-input_icon-wrapper_close {
  z-index: 1;
  opacity: 1;
}
.header__search-input:active + .search-input_icon-wrapper_search + .search-input_icon-wrapper_close svg, .header__search-input:focus + .search-input_icon-wrapper_search + .search-input_icon-wrapper_close svg, .header__search-input:target + .search-input_icon-wrapper_search + .search-input_icon-wrapper_close svg {
  color: rgba(214, 24, 24, 0.8);
}
.header__search-input:active, .header__search-input:focus, .header__search-input:target {
  background-color: white;
  color: black;
  width: 35vw;
}
.header__search-input:active::-webkit-input-placeholder, .header__search-input:focus::-webkit-input-placeholder, .header__search-input:target::-webkit-input-placeholder {
  color: black;
}
.header__search-input:active::-moz-placeholder, .header__search-input:focus::-moz-placeholder, .header__search-input:target::-moz-placeholder {
  color: black;
}
.header__search-input:active:-ms-input-placeholder, .header__search-input:focus:-ms-input-placeholder, .header__search-input:target:-ms-input-placeholder {
  color: black;
}
.header__search-input:active::-ms-input-placeholder, .header__search-input:focus::-ms-input-placeholder, .header__search-input:target::-ms-input-placeholder {
  color: black;
}
.header__search-input:active::placeholder, .header__search-input:focus::placeholder, .header__search-input:target::placeholder {
  color: black;
}

[data-auth=false] > .header__account-img_wrapper {
  display: none;
}

[data-auth=true] > .header__account-img_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
[data-auth=true] > .header__account-img_wrapper .header__account-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

[data-auth=true] > svg {
  display: none;
}

.add-todo__input-container {
  width: 100%;
  overflow-y: auto;
  max-height: 14rem;
}

.add-todo__input {
  width: 100%;
  min-height: 1.1rem;
  padding: 0;
  position: relative;
}
.add-todo__input:not(:empty)::before {
  display: none;
}
.add-todo__input:first-child {
  margin-bottom: 10px;
}

.add-todo__title-input::before {
  content: "e.g., Do homework #english";
  position: absolute;
  opacity: 0.7;
  padding-left: 2px;
}

.add-todo__description-input::before {
  content: "Description";
  position: absolute;
  font-weight: 300;
  opacity: 0.5;
  padding-left: 2px;
}

.add-todo__input__hidden {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.add-todo__bottom-bar {
  width: 100%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #53535370;
}

.add-todo__bottom-bar_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add-todo__bottom-bar_btn {
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
}
.add-todo__bottom-bar_btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.add-todo__bottom-bar_btn:not(:first-child) {
  margin-left: 5px;
}

.add-todo__choose-date-btn_today {
  color: rgba(0, 128, 0, 0.7);
}

.add-todo__choose-project-btn_incoming {
  color: rgba(0, 0, 255, 0.7);
}

.add-todo__icon-btn {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #535353;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.add-todo__icon-btn svg {
  width: 60%;
  height: 60%;
}
.add-todo__icon-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.add-todo__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.add-todo__footer-btn {
  padding: 5px 10px;
  font-weight: 500;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.add-todo__footer-btn:not(:first-child) {
  margin-left: 10px;
}

.add-todo__footer-btn_add {
  background-color: rgba(214, 24, 24, 0.8);
  color: white;
}

.add-todo__footer-btn_cancel {
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.add-todo__footer-btn_disabled {
  opacity: 0.5;
}

.main-header {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-header__heading {
  font-weight: 600;
  font-size: 30px;
}

.main-header__settings_btn {
  color: #3a0909ba;
  font-weight: 300;
}

.main-header__drop-down_container {
  width: 300%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.main-header__drop-down_sort-method-container {
  width: 300% !important;
  left: -100% !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header__drop-down_title {
  color: black;
  font-weight: 300;
}

.main-header__drop-down_label {
  color: gray;
}

.main-header__drop-down_list {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  border: 1px solid #00000040;
  background: white;
  border-radius: 5px;
  left: -100%;
  padding: 10px;
}

.main-header__drop-down_item {
  color: #3a0909;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7.5px 0;
  padding-left: 5px;
  transition: 0.35s;
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
}
.main-header__drop-down_item:hover {
  background-color: #3a090951;
}

.todo-container {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}
.todo:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.todo:not(:first-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.todo__checkbox-wrapper {
  margin-right: 20px;
}

.todo__checkbox_label {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.todo__checkbox_label svg {
  width: 50%;
  opacity: 0;
  transition: 0.15s;
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -ms-transition: 0.15s;
  -o-transition: 0.15s;
}
.todo__checkbox_label:hover svg {
  opacity: 1;
}

.todo__checkbox_input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  z-index: -1 !important;
  opacity: 0;
}

.todo__title {
  font-size: 18px;
  font-weight: 300;
  color: #3a0909;
  margin-bottom: 10px;
}

.todo__date {
  font-size: 12px;
  color: #3a0909;
  opacity: 0.7;
  font-weight: 300;
}

.todo__settings-wrapper {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.todo__settings_btn {
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  color: gray;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
}
.todo__settings_btn:not(:first-child) {
  margin-left: 10px;
}
.todo__settings_btn:hover {
  background-color: #3a09091d;
}

.main__add-todo_btn {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300;
  color: gray;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
}
.main__add-todo_btn svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  color: rgba(214, 24, 24, 0.8);
}
.main__add-todo_btn:hover {
  color: rgba(214, 24, 24, 0.8);
}
.main__add-todo_btn:hover svg {
  color: white;
  background-color: rgba(214, 24, 24, 0.8);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}