$header-btn-size: 40px;
$red: rgba(214, 24, 24, 0.8);
$page-max-width: 1200px;
$pop-up-padding: 2%;

.page-width {
    max-width: $page-max-width;
    margin: 0 auto;
}

.pop-up__wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up {
    width: 40vw;
    padding: $pop-up-padding;

    display: flex;
    flex-direction: column;
    align-items: center;

    -webkit-box-shadow: 0px 0px 34px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 34px 10px rgba(0, 0, 0, 0.2);

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}